*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/test/*/*.keep

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env*.local

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore node_modules
/node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

# Local thingies
Procfile.dev
.DS_Store
.rubocop.yml
.rubocop-*
.idea/

# stuff during development
public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# secret keys per environment
/config/credentials/development.key
/config/credentials/staging.key
/config/credentials/production.key
/config/master.key

