<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl mb-4">A BIG Thank You to Our Supporters!</h1>
</div>
<div class="min-w-full" id="donors">
  <div class="grid grid-cols-1 md:grid-cols-2 space-4">
    <%= render @donors %>
  </div>
</div>
