<h1 class="font-bold text-4xl mb-4">
  Grant Request Application for the <%= current_school_year %> School Year
</h1>
<p>Complete and submit the form below to be consider for a grant.</p>
<p class="mt-4">Upon submission, you will receive an email from us (ourayteacherfund@gmail.com) confirming receipt and detailing next steps.</p>
<%= render partial: "form", locals: { grant_request: @grant_request, grant: @grant } %>
