<h1 class="font-bold text-4xl mb-4">
  Grant Request Application for the <%= current_school_year %> School Year
</h1>
<p>Complete and submit the form below to be consider for a grant.</p>
<p>
  As you define your budget, confer with your evaluator about professional development funds that the district can make available for your project. In general, the district is able to cover all costs - registration fees, lodging, and per diem - for conferences and trainings that happen in-state. OTF makes it possible to expand your search more widely, so your travel expenses in excess of what you would have paid for a more local experience... that's the gap that OTF will fill. The school will still cover what it would have paid to send you to, say,Denver. Our role is to expand your options, to cover your expenses if the opportunity is farther afield.
</p>
<p>
  And for more sustained study, professional development funds may not be available for, say, summer tuition and housing at a graduate program, or travel to a professional internship or research expedition. OTF is happy to jump in there as well. The key is to explore the bounds of district professional development funding first, and apply to OTF to cover you for the rest. We are excited to facilitate, to fill in the gaps, to make it possible, whatever it is.
</p>
<p class="mt-4">Upon submission, you will receive an email from us (ourayteacherfund@gmail.com) confirming receipt and detailing next steps.</p>
<%= render partial: "form", locals: { grant_request: @grant_request, grant: @grant } %>
