<%= render partial: "grant_requests/grant_request", locals: { grant_request: @grant_request } %>
<div class="flex ml-2">
  <%= button_to 'Destroy', admin_grant_request_path(@grant_request), method: :delete, class: "btn-primary mr-2", form: { 'data-turbo-confirm': "Are you sure? There is no turning back." } %>
  <%= link_to "Back", admin_grant_requests_path, class: "btn-default" %>
</div>

