<div class="mx-auto">
  <%= render partial: "grant_requests/grant_request", locals: { grant_request: @grant_request } %>
  <div class="flex">
    <%= button_to 'Destroy', admin_grant_request_path(@grant_request), method: :delete, class: "btn-danger mr-2", data: { turbo_confirm: "Are you sure? There is no going back."} %>
    <%= link_to "Back", admin_grant_requests_path, class: "btn-default" %>
  </div>
</div>
