<div class="dark:border-zinc-700/40 rounded-2xl border border-zinc-100 p-6">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <%= heroicon 'credit-card', variant: 'outline', options: { class: 'h-6 w-6 flex-none' } %>
    <span class="ml-3">OTF Online Auctions</span>
  </h2>
  <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
    Check out our online auction for some amazing Ouray experiences!
  </p>
  <div class="mt-6 flex">
    <%= link_to 'Go to Auction', "https://auctions.ourayteacherfund.org", class: 'ml-2 rounded-lg py-3 px-5 bg-white text-gray-900 inline-block font-medium', target: '_blank' %>
  </div>
</div>
