<div class="dark:border-zinc-700/40 rounded-2xl border border-zinc-100 p-6">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <%= heroicon 'credit-card', variant: 'outline', options: { class: 'h-6 w-6 flex-none' } %>
    <span class="ml-3">Support OTF</span>
  </h2>
  <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
    Contribute online or by check (address below). We appreciate your support!
  </p>
  <div class="mt-6 flex">
    <%= link_to 'Donate', 'https://www.google.com/url?q=https%3A%2F%2Fdonate.stripe.com%2F7sI170gAdg6E60o9AA&sa=D&sntz=1&usg=AOvVaw3g8RGc6gGTXpKtUnwor9Tx', class: 'ml-2 rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium', target: '_blank' %>
  </div>
</div>
