<div class="h-16 w-16 rounded-full shadow-lg ring-1 backdrop-blur bg-white/90 p-0.5 shadow-zinc-800/5 ring-zinc-900/5 dark:bg-zinc-800/90 dark:ring-white/10">
  <a href="/" class="pointer-events-auto" aria-label="Home">
    <%= image_tag '/ouray-teacher-fund-logo-64', class: 'rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-14 w-14', alt: 'Ouray Teacher Fund Logo', style: 'color:transparent' %>
  </a>
</div>
