<div id="flash" class="mx-auto max-w-2xl">
  <% flash.each do |message_type, message| %>
    <%= render partial: 'shared/flash', locals: { message: message, message_type: message_type } %>
  <% end %>
</div>