<div class="dark:border-zinc-700/40 rounded-2xl border border-zinc-100 p-6 mt-8">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <%= heroicon 'banknotes', variant: 'outline', options: { class: 'flex-none h-6 w-6' } %>
    <span class="ml-3">Recent Donations</span>
  </h2>
  <ol class="mt-6 space-y-4">
    <li class="flex gap-4"></li>
  </ol>
</div>
