<article class="group relative flex flex-col items-start mt-8">
  <h2 class="mb-4 text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
    <%= link_to 'https://www.youtube.com/embed/PBJWsQghl-w', target: '_blank' do %>
      <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6.sm:rounded-2xl"></span>
      <span class="relative z-10">
        Here's a video from a similar (but national) group, called Fund for Teachers.
        The video shows eight grant recipients talking about the difference such professional development opportunites make in the lives of teachers and students.
      </span>
    <% end %>
  </h2>
  <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" frameborder="0" src="https://www.youtube.com/embed/PBJWsQghl-w" title="YouTube video player"></iframe>
  <div class="relative z-10 mt-4 flex items-center text-sm font-medium text-orange-500" aria-hidden="true">
    Watch Video on YouTube
    <svg class="ml-1 h-4 w-4 stroke-current" fill="none" viewBox="0 0 16 16" aria-hidden="true">
      <path d="M6.75 5.75 9.25 8l-2.5 2.25" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
    </svg>
  </div>
</article>