<div class="pt-24">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12 xl:px-16">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="xl:relative">
          <div class="mx-auto max-w-2xl">
            <%= render partial: 'shared/back_button' %>
            <div class="max-w-2xl mb-8">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
              <p class="mt-6 text-lg leading-8 text-gray-600">The Ouray Teacher Fund Board is comprised of former teachers at Ouray Schools, former coaches, and involved community members.</p>
            </div>
            <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2">
              <%= render @board_members %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>