@import 'prism.css';
@import 'actiontext.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
  .btn-secondary {
    @apply block rounded-md bg-orange-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600;
  }
  .btn-danger {
    @apply block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600;
  }
  .btn-default {
    @apply block rounded-md bg-gray-200 px-3 py-2 text-center text-sm font-semibold text-zinc-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-200;
  }
  .inline-link {
    @apply text-indigo-600 hover:text-orange-500
  }
  label.required:after {
    content:" *";
    color: red;
  }
  .dark {
    .dark\:required-label:after {
      content:" *";
      color: rgba(234, 163, 169, 0.97);
    }
  }
  html.dark {
    .trix-button-row {
      .trix-button-group {
        border-color: #0f172a;

        .trix-button {
          background-color: #ffffff;
          border-color: #0f172a;

          &.trix-active {
            background-color: lighten(#94a3b8, 10%);
          }
        }
      }
    }
    .trix-content {
      background-color: rgb(24 24 27/var(--tw-bg-opacity));
      border-color: rgb(24 24 27/var(--tw-bg-opacity));
    }
  }
}
