<%= turbo_frame_tag 'new_donations' do %>
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow sm:max-w-2xl md:max-w-xl">
      <div class="px-4 py-5 sm:px-6">
        Add New Donation for <%= donor.name %>
      </div>
      <div class="px-4 py-5 sm:p-6" id="new_donation_form">
        <%= render partial: 'admin/donations/form', locals: { donation: donation, donor: donor } %>
      </div>
    </div>
  </div>
<% end %>