<div class="pt-4">
  <div class="sm:px-8 mt-9">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-24 text-gray-800 dark:text-gray-800">
        <div class="mt-12 mx-auto md:w-2/3 w-full text-gray-800 dark:text-gray-800">
          <%= render partial: 'shared/back_button' %>
          <%= turbo_frame_tag 'new_donations' do %>
            <%= render partial: 'admin/donations/new_donations', locals: { donor: @donor, donation: @donation } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
