<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-800 dark:text-white">Grant Requests</h1>
    <p class="mt-2 text-sm text-gray-700 dark:text-white">A list of all requests for the <%= current_school_year %> school year.</p>
  </div>
<!--  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">-->
    <%#= link_to 'New Applicant', new_admin_applicant_path, class: 'btn-primary' %>
<!--  </div>-->
</div>
<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
    <div class="min-w-full" id="pages">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
          <th class="pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-white sm:pl-0 py-3.5" scope="col">Name</th>
          <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white" scope="col">Email</th>
          <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white" scope="col">Applied on</th>
          <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white" scope="col">Status</th>
          <th class="relative pl-3 pr-4 sm:pr-0 py-3.5" scope="col">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <%= render @applicants %>
        </tbody>
      </table>
    </div>
  </div>
</div>
