<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-800  dark:text-white">Donors</h1>
    <p class="mt-2 text-sm text-gray-700  dark:text-white">The kind souls who support us.</p>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= link_to 'New Donor', new_admin_donor_path, class: "btn-primary" %>
  </div>
</div>
<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
    <div class="min-w-full" id="pages">
      <table class="min-w-full divide-y divide-gray-300">
        <caption class="text-gray-600 dark:text-gray-400 text-left text-sm font-semibold my-4">Over the course of our endeavors, we have tallied <%= number_to_currency(@total_donated) %> in total donations.</caption>
        <thead>
        <tr>
          <th class="pl-4 pr-3 text-left text-sm font-semibold text-gray-800 dark:text-white py-3.5 sm:pl-0" scope="col">Name</th>
          <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white" scope="col">Email</th>
          <th class="py-3.5 px-3 text-left text-sm font-semibold text-gray-800 dark:text-white" scope="col">Total Given</th>
          <th class="relative pl-3 pr-4 py-3.5 sm:pr-0" scope="col">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200" id="donors-table">
          <%= render @donors %>
        </tbody>
      </table>
      <div id="load-more-button">
        <%= render partial: 'shared/load_more', locals: { pagy: @pagy, path: admin_donors_path } %>
      </div>
    </div>
  </div>
</div>
